<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAA__3Vz9bO0NIclPuHPCmHCDebk7ZEaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>512921713150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plantApp</string>
	<key>PROJECT_ID</key>
	<string>plant-app-63d21</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-app-63d21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512921713150:ios:fe927c6fc9c80fd33228af</string>
</dict>
</plist>